/* Global namespace */

@import "customization"; //it is copied from the user supplied file by maven

$namespace : "Mrphs-" !default;
$skin-name : "morpheus-default" !default; // This is used for bootstrap font behaviour.

$break-small-end: 	800px !default;
$break-medium-end: 	1030px !default;

$phone  :       "only screen and (max-width : #{$break-small-end})" !default;
$tablet :       "only screen and (max-width : #{$break-medium-end})" !default;
$desktop:       "only screen and (min-width : #{$break-medium-end + 1})" !default;
$nonPhone:      "only screen and (min-width : #{$break-small-end + 1})" !default;

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px !default;
$more-sites-single-column: "only screen and (max-width : #{$break-more-sites-single-column})" !default;

/* Typography*/

//Google family Fonts URL
$font-family-url: "https://fonts.googleapis.com/css?family=Open+Sans:400,500,700" !default;
@import url(#{$font-family-url});

//Typography variables
$font-family: "Open Sans",sans-serif;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;										// 400 or 700 as you wish

/* Color palette */
$background-color: 			 #FFFFFF !default;
$background-color-secondary: #000036 !default;

$primary-color:    			 #15597e !default;
$primary-color-highContrast:#FFFFFF !default !default;	// for use of primary on non-white light backgrounds, such as greys
$primary-color-shadow:			 adjust-hue( $primary-color, 5 ) !default;	// To give primary a darker shadow
$secondary-color:  			 #F00 !default;
$alt-colour: 				 #d36f00 !default;

$text-color:				 #212121 !default;
$text-color-disabled:		 #767676 !default;

$body-background-color: #FAFAFA !default;

$portal-background-color: $background-color !default;
$portal-mask-background:  rgba(0,0,0,0.5) !default;

/* Tool tabs */
$tool-background-color:		 $background-color !default;
$tool-menu-background-color:			 $body-background-color !default;
$tool-menu-color: 			 #424242 !default;
$tool-border-color:			 #E5E5E5 !default;

$tool-tab-height:                                         32px !default;
$tool-tab-text-color:                                     $tool-menu-color !default;
$tool-tab-text-size:                                      12px !default;
$tool-tab-text-weight:                                    normal !default;
$tool-tab-text-transform:                                 none !default;
$tool-tab-text-letter-spacing:                            normal !default;
$tool-tab-background-color:                               $tool-menu-background-color !default;
$tool-tab-border-color:                                   #E5E5E5 !default;
$tool-tab-hover-text-color:                               #191919 !default;
$tool-tab-hover-background-color:                         #ECECEC !default;
$tool-tab-hover-highlight-color:                          #7F7F7F !default;
$tool-tab-active-text-color:                              $primary-color !default;
$tool-tab-active-text-size:                               12px !default;
$tool-tab-active-background-color:                        #FFFFFF !default;
$tool-tab-active-highlight-color:                         $primary-color !default;

$tool-nav-link-color: #666 !default;

$main-content-background: $background-color !default;
$top-header-background: $background-color-secondary !default;
$sites-nav-background: $tool-menu-background-color !default;

$breadcrumbs-color:			$text-color !default;
$breadcrumbs-tool-color:	$primary-color !default;
$breadcrumbs-hover-color:	$primary-color !default;

/* Link colors */
$link-color: $primary-color !default;
$link-active-color: $primary-color !default;
$link-hover-color: $primary-color !default;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* General button design */
$button-radius:                 3px;
$button-text-transform:         none;

// Default (non-primary) button design:
$button-text-color:             #333;
$button-background:             linear-gradient(#fff, #f9f9f9);
$button-border-color:           #ccc;
// hover and focus states:
$button-hover-text-color:       $button-text-color;
$button-hover-background:       $button-background;
$button-hover-border-color:     #999;
// active state:
$button-active-text-color:      $button-text-color;
$button-active-background:      linear-gradient(#f9f9f9, #fff);	//note: inverse order from above
$button-active-border-color:    $button-hover-border-color;
$button-active-shadow-color:    rgba(0, 0, 0, 0.3);
// disabled state:
$button-disabled-text-color:    #717171;
$button-disabled-background:    #f6f6f6;
$button-disabled-border-color:  #dbdbdb;
$button-disabled-shadow:        none;
$button-disabled-font-weight:   300;

// Primary action button design:
$button-primary-text-color:                 #fff;
$button-primary-background:                 $primary-color;
$button-primary-border-color:               #326b97;
// hover and focus states for primary action button:
$button-primary-hover-text-color:           $button-primary-text-color;
$button-primary-hover-background:           #176691;
$button-primary-hover-border-color:         #124466;
// active state for primary action button:
$button-primary-active-text-color:          $button-primary-text-color;
$button-primary-active-background:          $button-primary-hover-background;
$button-primary-active-border-color:        $button-primary-hover-border-color;
$button-primary-active-shadow-color:        $button-active-shadow-color;
/* end of General button design */

$info-color:                $primary-color  !default;
$info-background-color:     lighten($primary-color, 45%) !default;
$ok-color:                  #3c763d !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #F6ECB7 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #f2dede !default;
$error-color:               darken($error-background-color, 30%) !default;

/* Sakai Banners */
// Information (info) banner
$infoBanner-bordercolor: #5c9bd1;
$infoBanner-bgcolor: #bde5f8;
$infoBanner-color: $text-color;
$infoBanner-icon: ".fa-info-circle";

// Success banner
$successBanner-bordercolor: #52b387;
$successBanner-bgcolor: #d9f0e7;
$successBanner-color: $text-color;
$successBanner-icon: ".fa-check-circle";

// Warning (warn) banner
$warnBanner-bordercolor: #f1ba1b;
$warnBanner-bgcolor: #fbeec9;
$warnBanner-color: $text-color;
$warnBanner-icon: ".fa-exclamation-circle";

// Error banner
$errorBanner-bordercolor: #cf4f16;
$errorBanner-bgcolor: #f4dcd2;
$errorBanner-color: $text-color;
$errorBanner-icon: ".fa-ban";
/* end of Sakai Banners */

/* Swapped 'View As' view */
$swapped-view-enabled: false !default;
$swapped-view-primary: 		 #bf360c !default;

/* This is the gradient in the header of the page */
$header-gradient-a: #fafafa !default;
$header-gradient-b: $header-gradient-a !default;
$header-gradient-c: $header-gradient-a !default;
$header-gradient-d: $header-gradient-a !default;

/* topNav Main Menu */
$header-size: 50px !default;
$topNav-text-color:                         #fff !default; 		// used for links and text in the topNav
$topNav-alt-color:                     		#9c9c9c !default;	// used for topNav spacers

/* Favorites */
$sites-nav-menu-item-border-thickness:		1px !default;
/* Favorites - item */
$sites-nav-menu-item-background:            #FFFFFF !default;
$sites-nav-menu-item-color:                 #4C4C4C !default;
$sites-nav-menu-item-icon-color:            #666666 !default;
$sites-nav-menu-item-border-color:          #E5E5E5 !default;
$sites-nav-menu-item-border-top:            $sites-nav-menu-item-border-thickness solid $sites-nav-menu-item-border-color !default;
$sites-nav-menu-item-border-right:          $sites-nav-menu-item-border-top !default;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top !default;
$sites-nav-menu-item-border-left:           $sites-nav-menu-item-border-top !default;
/* Favorites - item hovered */
$sites-nav-menu-item-hover-background:      #FFFFFF !default;
$sites-nav-menu-item-hover-color:           #191919 !default;
$sites-nav-menu-item-hover-icon-color:      #424242 !default;
$sites-nav-menu-item-hover-border-color:    #7F7F7F !default;
$sites-nav-menu-item-hover-border-top:      $sites-nav-menu-item-border-thickness solid $sites-nav-menu-item-hover-border-color !default;
$sites-nav-menu-item-hover-border-right:    $sites-nav-menu-item-hover-border-top !default;
$sites-nav-menu-item-hover-border-bottom:   $sites-nav-menu-item-hover-border-top !default;
$sites-nav-menu-item-hover-border-left:     $sites-nav-menu-item-hover-border-top !default;
/* Favorites - item selected */
$sites-nav-menu-item-selected-background:   $primary-color !default;
$sites-nav-menu-item-selected-color:        #FFFFFF !default;
$sites-nav-menu-item-selected-icon-color:   #FFFFFF !default;
$sites-nav-menu-item-selected-border-color: #326B97 !default;
$sites-nav-menu-item-selected-border-top:   $sites-nav-menu-item-border-thickness solid $sites-nav-menu-item-selected-border-color !default;
$sites-nav-menu-item-selected-border-right: $sites-nav-menu-item-selected-border-top !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top !default;
$sites-nav-menu-item-selected-border-left:  $sites-nav-menu-item-selected-border-top !default;
/* Favorites - item selected and hovered */
$sites-nav-menu-item-selected-hover-background:   lighten($sites-nav-menu-item-selected-background, 5%) !default;
$sites-nav-menu-item-selected-hover-color:        #FFFFFF !default;
$sites-nav-menu-item-selected-hover-icon-color:   #FFFFFF !default;
$sites-nav-menu-item-selected-hover-border-color: $sites-nav-menu-item-selected-border-color !default;
$sites-nav-menu-item-selected-hover-border-top:   $sites-nav-menu-item-border-thickness solid $sites-nav-menu-item-selected-hover-border-color !default;
$sites-nav-menu-item-selected-hover-border-right: $sites-nav-menu-item-selected-hover-border-top !default;
$sites-nav-menu-item-selected-hover-border-bottom:$sites-nav-menu-item-selected-hover-border-top !default;
$sites-nav-menu-item-selected-hover-border-left:  $sites-nav-menu-item-selected-hover-border-top !default;
/* Favorites - tool submenu */
$sites-nav-submenu-background:              $sites-nav-menu-item-hover-background !default;
$sites-nav-submenu-topleft-border-color:    $sites-nav-menu-item-hover-background !default;
$sites-nav-submenu-border-color:            $sites-nav-menu-item-hover-border-color !default;
/* Favorites - tool selected submenu */
$sites-nav-selected-submenu-border-color: $sites-nav-menu-item-selected-hover-border-color !default;
$sites-nav-selected-submenu-topleft-border-color: $sites-nav-menu-item-selected-hover-background !default;
/* Favorites - tool submenu items */
$sites-nav-submenu-item-text-size:          13px !default;
$sites-nav-submenu-item-background:          $sites-nav-menu-item-hover-background !default;
$sites-nav-submenu-item-color:              #4C4C4C !default;
$sites-nav-submenu-item-icon-color:         #666666 !default;
$sites-nav-submenu-item-divider-color:      #E5E5E5 !default;
$sites-nav-submenu-item-left-border-color:  transparent !default;
/* Favorites - tool submenu items hovered */
$sites-nav-submenu-item-hover-background:   #ECECEC !default;
$sites-nav-submenu-item-hover-color:        #191919 !default;
$sites-nav-submenu-item-hover-icon-color:   #424242 !default;
$sites-nav-submenu-item-hover-left-border-color: #7F7F7F !default;

/* All Sites menu */
$all-sites-background-color:                              #FFFFFF !default;
$all-sites-drop-shadow:                                   5px 0 50px 0px rgba(0,0,0,0.5) !default;
$all-sites-tab-text-color:                                $tool-menu-color !default;
$all-sites-tab-background-color:                          $tool-tab-background-color !default;
$all-sites-tab-border-color:                              $tool-tab-border-color !default;
$all-sites-tab-hover-text-color:                          $tool-tab-hover-text-color !default;
$all-sites-tab-hover-background-color:                    $tool-tab-hover-background-color !default;
$all-sites-tab-hover-highlight:                           $tool-tab-hover-highlight-color !default;
$all-sites-tab-active-text-color:                         $tool-tab-active-text-color !default;
$all-sites-tab-active-background-color:                   $tool-tab-active-background-color !default;
$all-sites-tab-active-highlight-color:                    $tool-tab-active-highlight-color !default;
$all-sites-title-text-size:                               18px !default;
$all-sites-title-text-weight:                             normal !default;
$all-sites-title-text-color:                              #4C4C4C !default;
$all-sites-button-height:                                 30px !default;
$all-sites-button-text-color:                             #4C4C4C !default;
$all-sites-button-text-size:                              13px !default;
$all-sites-button-text-weight:                            normal !default;
$all-sites-button-background-color:                       #FAFAFA !default;
$all-sites-button-border-color:                           #E5E5E5 !default;
$all-sites-button-border-radius:                          3px !default;
$all-sites-button-dropdown-color:                         #666666 !default;
$all-sites-button-star-full-color:                        #F49D09 !default;
$all-sites-button-star-empty-color:                       #CECECE !default;
$all-sites-button-selected-text-color:                    #191919 !default;
$all-sites-button-selected-text-size:                     13px !default;
$all-sites-button-selected-text-weight:                   medium !default;
$all-sites-button-selected-background-color:              #FFFFFF !default;
$all-sites-button-selected-border-color:                  #7F7F7F !default;
$all-sites-button-selected-border-radius:                 3px !default;
$all-sites-button-selected-dropdown-color:                #4C4C4C !default;
$all-sites-button-selected-star-full-color:               #F49D09 !default;
$all-sites-button-selected-star-empty-color:              #CECECE !default;
$all-sites-button-hover-text-color:                       #191919 !default;
$all-sites-button-hover-text-size:                        13px !default;
$all-sites-button-hover-text-weight:                      normal !default;
$all-sites-button-hover-background-color:                 #ECECEC !default;
$all-sites-button-hover-border-color:                     #7F7F7F !default;
$all-sites-button-hover-dropdown-color:                   #4C4C4C !default;
$all-sites-button-hover-star-full-color:                  #EA9609 !default;
$all-sites-button-hover-star-empty-color:                 #999999 !default;
$all-sites-button-drag-icon-color:                        #AAAAAA !default;
$all-sites-button-drag-icon-hover-color:                  #999999 !default;
$all-sites-tool-menu-divider-color:                       #E5E5E5 !default;
$all-sites-tool-menu-background-color:                    #FFFFFF !default;
$all-sites-tool-menu-text-color:                          #4C4C4C !default;
$all-sites-tool-menu-text-size:                           12px !default;
$all-sites-tool-menu-text-weight:                         normal !default;
$all-sites-tool-menu-icon-color:                          #666666 !default;
$all-sites-tool-menu-left-border:                         4px solid transparent !default;
$all-sites-tool-menu-hover-background-color:              #ECECEC !default;
$all-sites-tool-menu-hover-text-color:                    #191919 !default;
$all-sites-tool-menu-hover-icon-color:                    #424242 !default;
$all-sites-tool-menu-hover-left-border:                   4px solid #7F7F7F !default;
$all-sites-close-action-color:                            #666666 !default;
$all-sites-close-action-hover-color:                      #4C4C4C !default;

/* Tool Menu */

/* Wide tool menu, icons on left */
$tool-menu-icon-on-left: true !default;
$tool-menu-width: 200px !default;
$tool-menu-width-collapsed: 42px !default;
$tool-menu-collapseButton-height: $tool-menu-width-collapsed !default;

/* Narrow tool menu, icons centered */
@if not($tool-menu-icon-on-left) {
    $tool-menu-width: 8em;
    $tool-menu-width-collapsed: 42px;
    $tool-menu-collapseButton-height: $tool-menu-width-collapsed;
}

$tool-menu-item-separator-color:                           #E5E5E5 !default;
$tool-menu-item-text-color:                                #333333 !default;
$tool-menu-item-icon-color:                                #666666 !default;
$tool-menu-item-text-weight:                               normal !default;
$tool-menu-item-background-color:                          #FAFAFA !default;
$tool-menu-item-border-left:                               4px solid transparent !default;
$tool-menu-item-hover-text-color:                          #191919 !default;
$tool-menu-item-hover-icon-color:                          #424242 !default;
$tool-menu-item-hover-background-color:                    #ECECEC !default;
$tool-menu-item-hover-border-left:                         4px solid #7F7F7F !default;
$tool-menu-item-hidden-text-color:                         $tool-menu-item-text-color !default;
$tool-menu-item-hidden-icon-color:                         $tool-menu-item-icon-color !default;
$tool-menu-item-hidden-background-color:                   $tool-menu-item-background-color !default;
$tool-menu-item-hidden-border-left:                        $tool-menu-item-border-left !default;
$tool-menu-item-hidden-hover-text-color:                   $tool-menu-item-hover-text-color !default;
$tool-menu-item-hidden-hover-icon-color:                   $tool-menu-item-hover-icon-color !default;
$tool-menu-item-hidden-hover-background-color:             $tool-menu-item-hover-background-color !default;
$tool-menu-item-hidden-hover-border-left:                  $tool-menu-item-hover-border-left !default;
$tool-menu-item-selected-text-color:                       $primary-color !default;
$tool-menu-item-selected-icon-color:                       $primary-color !default;
$tool-menu-item-selected-background-color:                 #FFFFFF !default;
$tool-menu-item-selected-border-left:                      4px solid $primary-color !default;
$tool-menu-item-selected-hover-text-color:                 $primary-color !default;
$tool-menu-item-selected-hover-icon-color:                 $primary-color !default;
$tool-menu-item-selected-hover-background-color:           #FFFFFF !default;
$tool-menu-item-selected-hover-border-left:                4px solid $primary-color !default;

$tool-menu-collapse-text-color:                            $tool-menu-item-text-color !default;
$tool-menu-collapse-icon-color:                            $tool-menu-item-text-color !default;
$tool-menu-collapse-background-color:                      $tool-menu-item-background-color !default;
$tool-menu-collapse-border-top:                            none !default;
$tool-menu-collapse-shadow:                                0 -1px 3px rgba(0,0,0,0.3) !default;
$tool-menu-collapse-hover-text-color:                      $tool-menu-item-hover-text-color !default;
$tool-menu-collapse-hover-background-color:                $tool-menu-item-hover-background-color !default;
$tool-menu-collapse-hover-border-top:                      $tool-menu-collapse-border-top !default;
$tool-menu-collapse-hover-shadow:                          $tool-menu-collapse-shadow !default;
$tool-menu-collapse-min-text-color:                        $tool-menu-collapse-text-color !default;
$tool-menu-collapse-min-icon-color:                        $tool-menu-collapse-min-text-color !default;
$tool-menu-collapse-min-background-color:                  $tool-menu-collapse-background-color !default;
$tool-menu-collapse-min-border-top:                        $tool-menu-collapse-border-top !default;
$tool-menu-collapse-min-shadow:                            $tool-menu-collapse-shadow !default;
$tool-menu-collapse-min-hover-text-color:                  $tool-menu-collapse-hover-text-color !default;
$tool-menu-collapse-min-hover-background-color:            $tool-menu-collapse-hover-background-color !default;
$tool-menu-collapse-min-hover-border-top:                  $tool-menu-collapse-border-top !default;
$tool-menu-collapse-min-hover-shadow:                      $tool-menu-collapse-shadow !default;

/* Tool sub menu */
$tool-sub-menu-border-color: darken( $tool-menu-background-color, 10% ) !default;
$tool-sub-menu-background-color: darken( $tool-menu-background-color, 10% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: #FFF !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-hover-background-color: $background-color !default;


/* Navigation Hierarchy */
$hierarchy-size: 3.5em !default;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* The standard spacing for items in Sakai */
$standard-spacing: 10px !default;
$standard-space: 4px !default; 		// the width of a keyboard space

$banner-height: 52px !default;

/* Logo location */
$logo: 'images/logo-jewel.png' !default;
$logo-height: 36px !default;
$logo-width: 126px !default;

/* Tool icons */
$skin-with-icons: true !default;
$icon-size: 20px !default;

/* Unpublished Banner */
$siteUnpublish-background: $warn-background-color !default;
$siteUnpublish-color: $text-color !default;
$siteUnpublish-border: 1px solid $warn-color !default;

/* Site Deletion Banner */
$siteDelete-background: $info-background-color !default;
$siteDelete-color: $text-color !default;
$siteDelete-border: 1px solid $info-color !default;

/* Icon Overrides */
//$sakai-custom-icons : ( sakai-message-bundle-manager : ( extend : fa-edit ) );

/* Footer */
$footer-background-color: $tool-menu-background-color !default;
$footer-border-color: $tool-border-color !default;
$footer-color: $text-color !default;
$footer-link-separator: #ccc !default;
$footer-details-border-color: $footer-link-separator !default;

// Overview page column widths. Total to add up to 96% as the columns have a margin.
$col1of2-width: 48% !default;
$col2of2-width: 48% !default;

/* From NYU 11 Skin */
$divider-shadow: 0 1px 5px rgba(0,0,0,.3) !default;
$overview-portlet-border-color: $tool-border-color !default;
$overview-portlet-shadow: 1px 1px 5px rgba(0,0,0,0.2) !default;
$overview-portlet-title-background-color: $tool-tab-background-color !default;

$instruction-color: #5c5c5c !default;
$instruction-background-color: #fff !default;

/* focus styles for all control elements (e.g. buttons, form controls, links, etc) */
$focus-outline-width: 3px;
$focus-outline-style: solid;
$focus-outline-color: #5b9dd9;
$sakai-focus-outline: $focus-outline-width $focus-outline-style $focus-outline-color;
$focus-outline-offset: 2px;