/* Typography*/

//Google family Fonts URL
//$font-family-url: "//fonts.googleapis.com/css?family=Noto+Sans" !default;
//$header-font-family-url: "//fonts.googleapis.com/css?family=Raleway:300" !default;

//Typography variables
//$font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
//$default-font-size: 15px !default;
//$default-font-weight: 400 !default;										
//$header-font-family: "Raleway", Arial, sans-serif !default;
//$header-font-weight: 300 !default;

/* Color palette */
$background-color: #ffffff !default;
$background-color-secondary: #20438f !default;
$sites-nav-background: #20438f !default;

$tool-background-color: #ffffff !default;
$tool-menu-color: #20438f !default;

$primary-color: #20438f !default;
$secondary-color: #FFF !default;

$text-color: #363636 !default;

/* Linknav button colors */
$button-text-color:	 #777 !default;
$button-border-color: #C0C0C0 !default;
$button-background-color: #F0F0F0 !default;
$button-background-secondary-color: #FFF !default;
/* General button colors */
$button-primary-border-color: #20438f !default;
$sites-nav-menu-item-selected-border-color: #20438f !default;
$button-color-text-color: #363636 !default;
$button-color-border-color: #4a8db3 !default;
$button-color-background-color: #FFF !default;
$button-color-background-secondary-color: #5299c2 !default;
/* ///////////// */

$okcolor: #dff0d8 !default;
$errorcolor: #f2dede !default;
$warncolor: #fcf8e3 !default;

$swapped-view-primary: #CE9466 !default;

$topNav-text-color:  #FFF !default; 		// used for links and text in the topNav
$topNav-alt-color: #168fd4 !default;	// used for topNav spacers

/* Main Menu */
$header-size : 3.1em !default;

/* Tool Menu */
$tool-menu-width: 14.5em !default;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* Logo location */
$logo: 'images/logo.png' !default;
$logo-height: 100px !default;
$logo-width: 100px !default;
$banner-height: 75px !default;

/* Tool icons */
$skin-with-icons: true !default;
$icon-size: 20px !default;

//@import url( #{$font-family-url}    );
//@import url( #{$header-font-family-url} );