<div class="Mrphs-container Mrphs-container--footer">

    #if (!$pagepopup)

        <footer id="footer" role="contentinfo" class="Mrphs-footer">

        </footer>
        
        <div class="Mrphs-container Mrphs-container--extras">

        #parse("/vm/morpheus/includeFooterExtras.vm")

        </div> ## END: Mrphs-container Mrphs-container--extras    
        <div id="tutorial" class="Mrphs-tutorial Mrphs-modal"></div>
        <div id="social-alerts" class="Mrphs-tutorial Mrphs-modal"></div>

    #else 

        <!-- dont compact -->

    #end ## END of IF (!$pagepopup)

</div>
